.linha {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

.App h1 {
  text-align: center;
}

.App {
  margin: auto;
  max-width: 900px;
}

@media (max-width: 760px){
  .linha {
    flex-direction: column;
    align-items: center;
  }

  .conversor {
    margin-bottom: 30px;
  }
}